@charset "utf-8";
/* CSS Document */
* {box-sizing: border-box}

body {
	background-color: whitesmoke;
}

.information {
	background-color: #DCE8EE;
	padding: 20px;
}

b {
	font-family: "open-sans";
	font-size: 13pt;
	color: #454545;
	margin-left: 10px;
}

.main {
	  padding: 20px;
}

.img1 {
	text-align: center;
	background-color: #DCE8EE;
	padding: 10px;
	padding-bottom: 10px;
	
}

img{
	border-radius: 20px;
	margin-top: 5px;
}

hr {
	height: 1px;
	background-color: #10263A;
	margin-top: 30px;
}

h6 {
	font-family: merriweather;
	font-size: 15pt;
}

h2 {
	font-family: merriweather;
	text-align: center;
	margin-top: 10px;
}

h4 {
	font-family: merriweather;
	text-align: center;
}

p {
	font-family: "open-sans";
	font-size: 12pt;
	text-align: center;
}



@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 10px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards; 
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}